

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Sigmar&display=swap');


.navbar{
    background-color: #000957;
}
.navbar-brand{
color: white;
font-family: "Grechen Fuemen", serif;
font-weight: 700;
font-style: normal;
  
  
}
.nav-link{
    color: white;
}
.jumbotron{
    background-color: #000957;
    color: white;
}
.display-4{
    color: white;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}
.btn{
    font-weight: 700;
}

#summits{
font-family: "Grechen Fuemen", serif;
font-weight: 1000;
font-style: normal;
font-size: 3rem;
margin: 50,0,50,0;
padding: auto;
}
#concerts{
font-family: "Grechen Fuemen", serif;
font-weight:1000;
font-style: normal;
font-size: 3rem;
margin: 50,0,50,0;
}
#bazaars{
font-family: "Grechen Fuemen", serif;
font-weight: 1000;
font-style: normal;
font-size: 3rem;
margin: 50,0,50,0;
}

.card{
    border-radius:50px 50px 50px 50px;
    min-height: 500;
}
img{
    max-height: 200px;
    overflow: hidden;
}
.footer{
    background-color: #000957;
    color: white;
    margin-top: 50px; 
    width:100%
}
h3{
    color: white;
    font-family: "Grechen Fuemen", serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 3rem;
    text-align: left;
    position:absolute;
    top: 35%;
    margin-left: 50px;
}
.lead{
  font-weight: 400;
}






